BMI Calculator Project Part 1/MathService_SOAP/MathService/SOAPMathClient/Connected Services/mathRef/MathService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MathService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MathService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="results">
    <xs:sequence>
      <xs:element minOccurs="0" name="digits" type="xs:int" />
      <xs:element minOccurs="0" name="lower_case_letters" type="xs:int" />
      <xs:element minOccurs="0" name="upper_case_letters" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="results" nillable="true" type="tns:results" />
</xs:schema>