BMI Calculator Project Part 1/MathService_SOAP/MathService/SOAPMathClient/Connected Services/mathRef/MathService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52591/MathService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MathService" />
  <xs:element name="piValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="piValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="piValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="absValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="absValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="absValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="computeStat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="computeStatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MathService" minOccurs="0" name="computeStatResult" nillable="true" type="q1:results" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>