BMI Calculator Project Part 1/MathService_SOAP/MathService/SOAPMathClient/Connected Services/mathRef/MathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MathService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52591/MathService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52591/MathService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52591/MathService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MathService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMathService_piValue_InputMessage">
    <wsdl:part name="parameters" element="tns:piValue" />
  </wsdl:message>
  <wsdl:message name="IMathService_piValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:piValueResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_absValue_InputMessage">
    <wsdl:part name="parameters" element="tns:absValue" />
  </wsdl:message>
  <wsdl:message name="IMathService_absValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:absValueResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_add2_InputMessage">
    <wsdl:part name="parameters" element="tns:add2" />
  </wsdl:message>
  <wsdl:message name="IMathService_add2_OutputMessage">
    <wsdl:part name="parameters" element="tns:add2Response" />
  </wsdl:message>
  <wsdl:message name="IMathService_computeStat_InputMessage">
    <wsdl:part name="parameters" element="tns:computeStat" />
  </wsdl:message>
  <wsdl:message name="IMathService_computeStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:computeStatResponse" />
  </wsdl:message>
  <wsdl:portType name="IMathService">
    <wsdl:operation name="piValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/piValue" message="tns:IMathService_piValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/piValueResponse" message="tns:IMathService_piValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="absValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/absValue" message="tns:IMathService_absValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/absValueResponse" message="tns:IMathService_absValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/add2" message="tns:IMathService_add2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/add2Response" message="tns:IMathService_add2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="computeStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/computeStat" message="tns:IMathService_computeStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/computeStatResponse" message="tns:IMathService_computeStat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMathService" type="tns:IMathService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="piValue">
      <soap:operation soapAction="http://tempuri.org/IMathService/piValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="absValue">
      <soap:operation soapAction="http://tempuri.org/IMathService/absValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add2">
      <soap:operation soapAction="http://tempuri.org/IMathService/add2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="computeStat">
      <soap:operation soapAction="http://tempuri.org/IMathService/computeStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService">
    <wsdl:port name="BasicHttpBinding_IMathService" binding="tns:BasicHttpBinding_IMathService">
      <soap:address location="http://localhost:52591/MathService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>